@-webkit-keyframes animateStars {
    from {
        
    }

    to {
        top: 120%;
    }
}

.estrelaController {
    position: absolute;
    top: -40px;
    animation-name: animateStars;
    animation-duration: 2s;
    -webkit-animation-name: animateStars;
    -webkit-animation-duration: 2s;
}

div#fundo_stars {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    position: absolute;
    top: 0;
}

.buff {
    top: -60px;
    width: 50px;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
}